/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --blue-icon-dark: #034CA6;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --button-background-delete: #D05C84;
    --link-color-primary: #36C;
    --header-page-margin-t-manager: 5px 15px 10px 15px;
    --page-margin-t-manager: 5px 15px 10px 15px;
    --title-margin-t-manager: 0px 15px 0px 15px;
    --border-radius-t-manager: 3px;
    --panel-background-t-manager: #EEEEEE;
    --transition-t-manager: ease-in-out all .3s;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

.display-none, .d-none { display: none !important; }

.font-weight-bold { font-weight: bold; }

.text-center { text-align: center; }

.relative { position: relative; }

.template-manager-page-margin {
    margin: var(--page-margin-t-manager);
}

.template-manager-page-header h2 {
    margin-top: 0;
    font-weight: 600;
    border-bottom: 2px outset var(--button-blue-border-gradient-match);
}

.template-manager-page-header h2 svg {
    vertical-align: bottom;
    width: 28px;
    height: 28px;
}

.add-templates-bar {
    margin-bottom: 20px;
}

.add-templates-bar li {
    list-style-type: none;
    display: inline-block;
    margin: auto 20px 0 0;
}

.add-desc-template-btn, .add-comment-template-btn, .add-desc-template-btn:visited, .add-comment-template-btn:visited {
    font-size: 1em;
    border: 2px solid var(--pp-black);
    border-radius: var(--border-radius-t-manager);
    transition: var(--transition-t-manager);
}

.add-desc-template-btn a, .add-comment-template-btn a {
    text-decoration: none;
}

.add-desc-template-btn a svg, .add-comment-template-btn a svg {
    vertical-align: bottom;
}

.add-desc-template-btn:hover, .add-comment-template-btn:hover, .add-desc-template-btn:focus, .add-comment-template-btn:focus {
    border-color: var(--pp-green);
}

.add-desc-template-btn:hover a, .add-comment-template-btn:hover a, .add-desc-template-btn:focus a, .add-comment-template-btn:focus a {
    color: var(--pp-black);
    text-decoration: none;
}

.template-manager-page-margin .page-intro {
    margin-bottom: 15px;
}

fieldset.task-desc-section, fieldset.task-comments-section, fieldset.email-subject-section {
    border: 1px solid var(--blue-border-gradient-match);
    border-radius: var(--border-radius-t-manager);
}

.task-desc-section legend, .task-comments-section legend, .email-subject-section legend {
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.task-desc-section legend > svg, .task-comments-section legend > svg, .email-subject-section legend > svg {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.task-desc-section .section-intro, .task-comments-section .section-intro {
    font-size: .9em;
    margin: 5px auto 15px auto;
}

.email-subject-section .section-intro {
    font-size: .9em;
    margin: 10px auto 10px auto;
}

.template-table {
    margin-block: 10px;
}

.edit-desc-template-btn, .delete-desc-template-btn {}

.edit-desc-template-btn a svg, .delete-desc-template-btn a svg {}

.email-form-wrapper {
    display: inline-block;
    vertical-align: top;
}

.email-form-wrapper .section-intro {
    margin-left: 22px;
    font-size: .9em;
    margin-top: 0;
    margin-bottom: 0;
}

.email-subject-form {
    margin-bottom: 0;
}

.email-subject-form .form-actions {
    padding-top: 0;
}

textarea#form-predefined_email_subjects {
    padding: 4px;
    border: 1px solid var(--blue-border-gradient-match);
    border-radius: var(--border-radius-t-manager);
    width: 400px;
    max-width: 99%;
    height: 225px;
    font-family: revert;
    font-size: 1em;
    background: #D8E2F9;
    margin-top: 8px;
}

.email-section-wrapper {}

.email-section-task {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 3px 5px 6px 5px;
    border: 1px solid var(--blue-border-gradient-match);
    border-radius: var(--border-radius-t-manager);
}

.email-section-task-title, .email-section-action-title {
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.email-section-action {
    padding: 3px 5px 6px 5px;
    border: 1px solid var(--blue-border-gradient-match);
    border-radius: var(--border-radius-t-manager);
    margin-top: 5px;
}

.email-section-example {
    display: block;
    border: 1px solid var(--blue-border-gradient-match);
    border-radius: var(--border-radius-app-branding-alt);
    padding: 5px 10px;
    margin-top: 5px;
}

.example-result {
    margin-block: 5px;
}

.example-detail {
    display: block;
}

span.example-detail code, .example-steps code {
    background-color: rgba(27, 31, 35, 0.22);
    font-size: 1em;
    font-family: Monospace;
    letter-spacing: 0.08rem;
    color: #373737;
    margin: 0;
    padding: 1px 1px 2px 3px;
    border-radius: var(--border-radius-t-manager);
}

.steps-list li code > strong > span {
    color: var(--pp-red-alt-2);
    font-weight: 700;
}

.steps-list i, .steps-list code {
    margin-left: 5px;
}

.example-detail span {
    width: 160px;
    font-weight: 600;
    color: var(--pp-green-dark);
    display: inline-block;
}

.example-steps {
    margin-block: 5px;
}

.example-steps .steps-title {
    font-style: italic;
    font-weight: 600;
}

.example-steps ol {
    margin-left: 14px;
}

#comments .no-data {
    font-style: italic;
    margin-left: 20px;
    margin-top: 10px;
}

.quick-templates-bar {
}

.quick-templates-title {
}

.quick-templates-label {
    display: inline-block;
    margin-left: 1em;
    border: 1px solid var(--pp-border-red-alt-2);
    padding: .3em;
    border-radius: var(--border-radius-t-manager);
}

.comment-template-content {
}

.templates-menu-count {
    margin-left: 5px;
    font-size: .8em;
    border: 1px solid var(--blue-border-gradient-match);
    padding: 0px 3px;
    border-radius: var(--border-radius-t-manager);
    vertical-align: super;
}

.dropdown-submenu-open li:not(.no-hover):hover .templates-menu-count {
    border-color: var(--pp-white);
}

.template-manager-menu svg {
    vertical-align: bottom;
    margin-right: 4px;
}

.no-templates {
    font-style: italic;
}
